.gallery-title{
    text-align: center;
    font-size: 45px;
    margin-bottom: 60px;
}
.gallery img{
    width: 100%;
    margin-bottom: 20px;
    transition: .4s;
}
.gallery img:hover{
    box-shadow: 7px 9px 15px 5px rgb(0 0 0 / 40%);
}