.service{
    transition: .4s;
}
.service:hover{
    box-shadow: 7px 9px 15px 5px rgb(0 0 0 / 15%);
}
.service:hover .service-btn{
    background: #058861;
}
.service-btn {
    background: #60c2a4;
    color: #fff;
    border: navajowhite;
    padding: 10px 0;
    border-radius: 25px;
    font-size: 18px;
    transition: .5s;
}
